.header {
  background: white;
  margin-left: 180px;
  /* Same as the width of the sidenav */
}

.header [class*="col-"] {
  padding: 10px;
}

.header [class*="col-"] .logo {
  text-align: center;
}

.header [class*="col-"] .logo img {
  width: 60px;
  height: 60px;
}

.header [class*="col-"] p {
  color: black;
  font-size: 1em;
}

.subheading {
  padding: 10px;
  background: #001C57;
  color: white;
  font-size: 0.9em;
  margin-left: 180px;
  /* Same as the width of the sidenav */
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #111;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: left;
  color: white;
}

.sidenav a {
  padding: 20px;
  text-decoration: none;
  font-size: 0.8em;
  color: white;
  display: block;
}

.sidenav a:hover {
  background: #0009;
}

.sidenav i {
  color: #FFD014;
}

.main {
  margin-left: 180px;
  /* Same as the width of the sidenav */
  background: #e9f1f8;
}

.main .content .levels {
  margin: auto;
  text-align: center;
  padding: 25px 10px 25px 10px;
}

.main .content .levels [class*="col-"] button {
  width: 95%;
  padding: 15px 5px;
  background: white;
  outline: none;
  border: none;
  font-size: 0.8em;
}

.main .content .levels [class*="col-"] button b {
  font-size: 1.2em;
}

.main .content .levels [class*="col-"] button .elem {
  padding: 15px;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background: #F5D3CE;
}

.main .content .levels [class*="col-"] button .elem i {
  font-size: 1.5em;
  color: #FA1E44;
}

.main .content .levels [class*="col-"] button .jhs {
  padding: 15px;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background: #FFE9A2;
}

.main .content .levels [class*="col-"] button .jhs i {
  font-size: 1.5em;
  color: orange;
}

.main .content .levels [class*="col-"] button .shs {
  padding: 15px;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background: #E5BDFF;
}

.main .content .levels [class*="col-"] button .shs i {
  font-size: 1.5em;
  color: #842BD7;
}

.main .content .levels [class*="col-"] button .college {
  padding: 15px;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background: #BFE0B5;
}

.main .content .levels [class*="col-"] button .college i {
  font-size: 1.4em;
  color: #5AB190;
}

.main .content .levels [class*="col-"] button:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.main .content .result {
  background: #FAFAFA;
}

.main .content .result .label {
  text-align: center;
  font-size: 1em;
  padding: 20px;
}

.main .content .result .options {
  margin: auto;
  width: 95%;
  background: #E6E6FA;
  color: black;
  cursor: pointer;
  padding: 15px;
}

.main .content .result .options [class*="col-"] {
  padding: 5px;
}

.main .content .result .options [class*="col-"] .title {
  font-size: 0.9em;
  padding: 5px;
  text-align: center;
}

.main .content .result .options [class*="col-"] select {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.main .content .result .options [class*="col-"] button {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background: white;
  outline: none;
  border: none;
  font-size: 0.8em;
}

.main .content .result .options [class*="col-"] button a {
  text-decoration: none;
}

.main .content .result .options [class*="col-"] button a .pdf i {
  color: #FA1E44;
}

.main .content .result .options [class*="col-"] button a .excel i {
  color: #5AB190;
}

.main .content .result .options [class*="col-"] button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.main .content .result .search {

}
.main .content .result table {
  margin: auto;
  width: 95%;
  font-size: 0.9em;
}

.main .content .result table tr:nth-child(even) {
  background-color: #eee;
}

.main .content .result table tr:nth-child(odd) {
  background-color: #fff;
}

.main .content .result table tr th {
  background: #001C57;
  color: white;
  padding: 15px;
  text-align: left;
  border: 1px solid #fff;
}

.main .content .result table tr td {
  padding: 10px;
  text-align: left;
  border: 1px solid #fff;
}

.main .content .footer {
  padding: 10px;
  font-size: 0.9em;
  text-align: center;
  margin: auto;
}

.main .content .footer hr {
  width: 40%;
}

.main .content .footer p {
  padding: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=subject.component.css.map */