body {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0009;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
  background: #e9f1f8;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.header {
  background: white;
}

.header [class*="col-"] {
  padding: 20px;
}

.header [class*="col-"] img {
  width: 75px;
  height: 75px;
}

.header [class*="col-"] p {
  color: black;
  font-size: 1.4em;
}

.subheading {
  padding: 10px;
  background: #001C57;
  color: white;
  font-size: 1em;
}

.subheading [class*="col-"] span {
  font-size: 1.5em;
  cursor: pointer;
}

.content {
  padding: 50px 0px;
  color: black;
}

.content .list {
  width: 70%;
  margin: auto;
  text-align: center;
}

.content .list .elem, .content .list .jhs {
  margin-bottom: 5px;
  text-align: left;
  background: #001C57;
  color: white;
  padding: 20px;
}

.content .list .elem .multi-level .item, .content .list .jhs .multi-level .item {
  padding: 15px;
  margin-bottom: 5px;
  background: white;
  color: black;
}

.content .list .elem .multi-level .item .accordion, .content .list .jhs .multi-level .item .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content .list .elem .multi-level .item .active, .content .list .elem .multi-level .item .accordion:hover, .content .list .jhs .multi-level .item .active, .content .list .jhs .multi-level .item .accordion:hover {
  background-color: #ccc;
}

.content .list .elem .multi-level .item .panel, .content .list .jhs .multi-level .item .panel {
  display: none;
  background-color: white;
  overflow: hidden;
}

.content .list .elem .multi-level .item .panel table, .content .list .jhs .multi-level .item .panel table {
  margin: auto;
  width: 100%;
  border: 1px solid black;
  border-radius: 200px;
}

.content .list .elem .multi-level .item .panel table tr:nth-child(even), .content .list .jhs .multi-level .item .panel table tr:nth-child(even) {
  background-color: #eee;
}

.content .list .elem .multi-level .item .panel table tr:nth-child(odd), .content .list .jhs .multi-level .item .panel table tr:nth-child(odd) {
  background-color: #fff;
}

.content .list .elem .multi-level .item .panel table tr th, .content .list .jhs .multi-level .item .panel table tr th {
  background: #001C57;
  color: white;
  padding: 15px;
  text-align: left;
}

.content .list .elem .multi-level .item .panel table tr td, .content .list .jhs .multi-level .item .panel table tr td {
  padding: 10px;
  text-align: left;
}

.content .list .multi-level, .content .list .item button, .content .list .sub-item button {
  display: none;
}

.content .list #menu:checked ~ .multi-level, .content .list .item input:checked ~ button, .content .list .sub-item input:checked ~ button {
  display: block;
}
/*# sourceMappingURL=layout.component.css.map */