html,body {
	overflow-x: hidden;
}

body {
	position: relative
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.container-fluid:before,.container-fluid:after {
	content: " ";
	display: table;
}

.container-fluid:after {
	clear: both;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.hide {
	display: none;
}

.margin-left {
	margin-left: 25px;
}

.margin-right {
	margin-right: 25px;
}

.margin-left-right {
	margin: 0px 25px;
}

/************* MENU *******************/
.fixedmenu .navbar-nav .nav-link.active {
	background: #de043a;
}

.header-image {
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2180.56px;
	max-width: auto;
	overflow: hidden;
	pointer-events: none;
	margin-left: -200px;
	margin-top: 200px;
	visibility: visible;
	transform: translate3d(0px, -110.426px, 0px);
}

.logo {
	height: 57px;
	width: 57px;
}

.feature-items h4 {
	margin-left: 10px;
	display: inline-block;
}

.benefits h4 {
	font-weight: bold;
}

.btnprimary {
	background: #fff;
	border-color: #de043a;
	color: #de043a;
}

.btnprimary:focus {
	color: #fff !important;
}

.btnprimary:hover {
	background: #de043a;
	border-color: #de043a !important;
	color: #fff !important;
}

#book-demo {
	background: url("../images/book-a-demo-home.png") no-repeat no-repeat
		!important;
}

.search-clinic-btn {
	padding: .5rem .7rem !important;
}

#site-footer img {
	display: inline-block;
	left: 0;
}

#site-footer ul li {
	display: inline-block;
	padding: 20px;
}

/************* ABOUT *******************/
#about p {
	line-height: 1.7em;
	font-size: 16px;
}

/************* CONTACT US *******************/
.heading-title h2 {
	font-size: 2.5rem;
	font-weight: 600;
}

/************* SEARCH DOCTOR *******************/
.doctor-profile h4 {
	
}

.doctor-content h4 {
	margin-bottom: 10px;
}

.doctor-content p {
	margin-bottom: 5px;
}

.img-scale {
	width: 150px !important;
	max-height: 150px !important;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

.img-circle {
	border-radius: 50%;
}

.ratio {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 0;
	padding-bottom: 100%;
	position: relative;
	width: 100%;
}

.pagination li {
	padding: 2px;
}

.pagination li.active>span.page-link {
	background: #de043a;
	color: #fff;
	border-radius: 25px;
	padding: 0.5rem .9rem !important;
}

.pagination li.disabled>span.page-link {
	background: #a5a5a5;
	color: #fff;
	border-radius: 25px;
	padding: 0.5rem .9rem !important;
	cursor: not-allowed;
}

#search button {
	padding: .7rem 2.5rem;
}

hr {
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* ====================================== LOGIN PAGE ======================================================= */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #a5a5a5 !important;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a5a5a5 !important;
}

:-ms-input-placeholder { /* IE 10+ */
	color: #a5a5a5 !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: #a5a5a5 !important;
}

#login-form {
	margin-top: 10px;
}

.img-holder .bg {
	opacity: 1;
	background-image: url("../images/apollomedicus_login_background.jpg");
}

.login-box-body a {
	color: #F6323E;
	font-size: 13px;
}

.login-box-body a:hover {
	text-decoration: none;
	color: #a5a5a5;
}

.login-logo {
	background: url("../images/Apollo-Medicus_logo_portrait.png");
	height: 22vh;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	opacity: initial;
}

.login-box-body {
	background: rgba(255, 255, 255, 0.5) !important;
}

.login-box-body .input-group {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

.login-box-body .input-group .form-control {
	font-size: 16px;
	background-color: white !important;
	border: 1px solid #ccc !important;
	height: 40px;
}

.login-box-body span.input-group-addon {
	background-color: white;
}

.ibtn {
	background-color: #F6323E !important;
}

.form-button {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.error {
	color: red;
	text-align: center;
}

@media ( max-width : 350px) {
	.login-logo {
		height: 22vh !important;
	}
	.img-scale {
		margin-left: auto;
		margin-right: auto;
	}
}

@media ( max-width : 320px) {
	.login-logo {
		height: 16vh !important;
	}
}

/* ======================= SCREEN SIZES =========================== */
@media screen and (min-width: 1920px) {
	.benefits .item {
		margin-left: 100px;
	}
}

@media screen and (min-width: 1680px) {
}

@media screen and (min-width: 1600px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1366px) {
}

@media screen and (min-width: 1280px) {
	.slogan {
		margin-left: 100px;
	}
}

@media ( min-width : 1200px) {
	.search-clinic {
		padding-top: 200px;
		margin-bottom: 150px;
	}
	#home-desc .split-box p {
		font-size: 24px;
	}
	.feature-items h4 {
		font-size: 24px;
	}
	#sidemenu_toggle {
		display: none !important;
	}
	.slogan {
		margin-left: 100px;
	}
	.benefits .item {
		margin-left: 30px;
	}
}

@media screen and (min-width: 1049px) {
	.slogan {
		margin-left: 80px;
	}
	
	#home-desc {
		padding-top: 9.5rem;
	}
}

@media ( min-width : 992px) and (max-width: 1048px) {
	.heading-title h3 {
		font-size: 25px;
	}
	.slogan {
		margin-left: 50px;
	}
	
	#home-desc {
		padding-top: 9.5rem;
	}
}

@media ( min-width : 992px) {
	.search-clinic {
		padding-top: 200px;
		margin-bottom: 150px;
	}
	#home-desc .split-box p {
		font-size: 20px;
	}
	.feature-items .item {
		margin-left: 100px;
		margin-bottom: 15px;
	}
	#sidemenu_toggle {
		display: none !important;
	}
}

@media ( max-width : 991px) {
	.search-clinic {
		padding-top: 300px;
		margin-bottom: 200px;
	}
	.feature-items .item {
		margin-left: 30px;
		margin-bottom: 15px;
	}
	
	#home-desc {
		padding-top: 9.5rem;
	}
}

@media ( max-width : 767px) {
	.img-scale {
		margin-left: auto;
		margin-right: auto;
	}
	.doctor-content h4,.doctor-content p {
		margin: 5px 80px;
	}
}

@media ( min-width : 767px) {
	.search-clinic {
		padding-top: 300px;
	}
	#home-desc .split-box p {
		font-size: 20px;
	}
	.heading-title h3 {
		font-size: 25px;
	}
	.img-scale {
		margin-left: auto;
		margin-right: auto;
	}
	#contact.padding_top,#search.padding_top {
		padding-top: 6.5rem !important;
	}
}

@media ( max-width : 576px) {
	#search a.button {
		margin-bottom: 5px;
	}
}

@media ( min-width : 540px) {
	#contact.padding_top,#search.padding_top {
		padding-top: 8.5rem;
	}
}

@media ( min-width : 361px) and (max-width: 540px) {
	#home-desc .split-box p {
		font-size: 16px;
	}
	.feature-items h4 {
		font-size: 14px;
	}
	.feature-items img {
		height: 25px;
		width: 25px;
	}
	.heading-title h3 {
		font-size: 25px;
	}
	.doctor-content h4,.doctor-content p {
		margin: auto;
	}
	#contact.padding_top,#search.padding_top {
		padding-top: 8.5rem;
	}
}

@media ( max-width : 360px) {
	.feature-items h4 {
		font-size: 12px;
	}
	.feature-items img {
		height: 20px;
		width: 20px;
	}
	.heading-title h3 {
		font-size: 20px;
	}
	.doctor-content h4,.doctor-content p {
		margin: auto;
	}
	#contact.padding_top,#search.padding_top {
		padding-top: 8.5rem;
	}
}

/* OFFSET */
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12
	{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12
	{
	float: left;
}

.col-xs-1 {
	width: 8.33333%;
}

.col-xs-2 {
	width: 16.66667%;
}

.col-xs-3 {
	width: 25%;
}

.col-xs-4 {
	width: 33.33333%;
}

.col-xs-5 {
	width: 41.66667%;
}

.col-xs-6 {
	width: 50%;
}

.col-xs-7 {
	width: 58.33333%;
}

.col-xs-8 {
	width: 66.66667%;
}

.col-xs-9 {
	width: 75%;
}

.col-xs-10 {
	width: 83.33333%;
}

.col-xs-11 {
	width: 91.66667%;
}

.col-xs-12 {
	width: 100%;
}

.col-xs-pull-0 {
	right: auto;
}

.col-xs-pull-1 {
	right: 8.33333%;
}

.col-xs-pull-2 {
	right: 16.66667%;
}

.col-xs-pull-3 {
	right: 25%;
}

.col-xs-pull-4 {
	right: 33.33333%;
}

.col-xs-pull-5 {
	right: 41.66667%;
}

.col-xs-pull-6 {
	right: 50%;
}

.col-xs-pull-7 {
	right: 58.33333%;
}

.col-xs-pull-8 {
	right: 66.66667%;
}

.col-xs-pull-9 {
	right: 75%;
}

.col-xs-pull-10 {
	right: 83.33333%;
}

.col-xs-pull-11 {
	right: 91.66667%;
}

.col-xs-pull-12 {
	right: 100%;
}

.col-xs-push-0 {
	left: auto;
}

.col-xs-push-1 {
	left: 8.33333%;
}

.col-xs-push-2 {
	left: 16.66667%;
}

.col-xs-push-3 {
	left: 25%;
}

.col-xs-push-4 {
	left: 33.33333%;
}

.col-xs-push-5 {
	left: 41.66667%;
}

.col-xs-push-6 {
	left: 50%;
}

.col-xs-push-7 {
	left: 58.33333%;
}

.col-xs-push-8 {
	left: 66.66667%;
}

.col-xs-push-9 {
	left: 75%;
}

.col-xs-push-10 {
	left: 83.33333%;
}

.col-xs-push-11 {
	left: 91.66667%;
}

.col-xs-push-12 {
	left: 100%;
}

.col-xs-offset-0 {
	margin-left: 0%;
}

.col-xs-offset-1 {
	margin-left: 8.33333%;
}

.col-xs-offset-2 {
	margin-left: 16.66667%;
}

.col-xs-offset-3 {
	margin-left: 25%;
}

.col-xs-offset-4 {
	margin-left: 33.33333%;
}

.col-xs-offset-5 {
	margin-left: 41.66667%;
}

.col-xs-offset-6 {
	margin-left: 50%;
}

.col-xs-offset-7 {
	margin-left: 58.33333%;
}

.col-xs-offset-8 {
	margin-left: 66.66667%;
}

.col-xs-offset-9 {
	margin-left: 75%;
}

.col-xs-offset-10 {
	margin-left: 83.33333%;
}

.col-xs-offset-11 {
	margin-left: 91.66667%;
}

.col-xs-offset-12 {
	margin-left: 100%;
}

@media ( min-width : 768px) {
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12
		{
		float: left;
	}
	.col-sm-1 {
		width: 8.33333%;
	}
	.col-sm-2 {
		width: 16.66667%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33333%;
	}
	.col-sm-5 {
		width: 41.66667%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.33333%;
	}
	.col-sm-8 {
		width: 66.66667%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 83.33333%;
	}
	.col-sm-11 {
		width: 91.66667%;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-pull-1 {
		right: 8.33333%;
	}
	.col-sm-pull-2 {
		right: 16.66667%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-4 {
		right: 33.33333%;
	}
	.col-sm-pull-5 {
		right: 41.66667%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-7 {
		right: 58.33333%;
	}
	.col-sm-pull-8 {
		right: 66.66667%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-10 {
		right: 83.33333%;
	}
	.col-sm-pull-11 {
		right: 91.66667%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-push-1 {
		left: 8.33333%;
	}
	.col-sm-push-2 {
		left: 16.66667%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-4 {
		left: 33.33333%;
	}
	.col-sm-push-5 {
		left: 41.66667%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-7 {
		left: 58.33333%;
	}
	.col-sm-push-8 {
		left: 66.66667%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-10 {
		left: 83.33333%;
	}
	.col-sm-push-11 {
		left: 91.66667%;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-offset-0 {
		margin-left: 0%;
	}
	.col-sm-offset-1 {
		margin-left: 8.33333%;
	}
	.col-sm-offset-2 {
		margin-left: 16.66667%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-4 {
		margin-left: 33.33333%;
	}
	.col-sm-offset-5 {
		margin-left: 41.66667%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-7 {
		margin-left: 58.33333%;
	}
	.col-sm-offset-8 {
		margin-left: 66.66667%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-10 {
		margin-left: 83.33333%;
	}
	.col-sm-offset-11 {
		margin-left: 91.66667%;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
}

@media ( min-width : 992px) {
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12
		{
		float: left;
	}
	.col-md-1 {
		width: 8.33333%;
	}
	.col-md-2 {
		width: 16.66667%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33333%;
	}
	.col-md-5 {
		width: 41.66667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33333%;
	}
	.col-md-8 {
		width: 66.66667%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 83.33333%;
	}
	.col-md-11 {
		width: 91.66667%;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-pull-0 {
		right: auto;
	}
	.col-md-pull-1 {
		right: 8.33333%;
	}
	.col-md-pull-2 {
		right: 16.66667%;
	}
	.col-md-pull-3 {
		right: 25%;
	}
	.col-md-pull-4 {
		right: 33.33333%;
	}
	.col-md-pull-5 {
		right: 41.66667%;
	}
	.col-md-pull-6 {
		right: 50%;
	}
	.col-md-pull-7 {
		right: 58.33333%;
	}
	.col-md-pull-8 {
		right: 66.66667%;
	}
	.col-md-pull-9 {
		right: 75%;
	}
	.col-md-pull-10 {
		right: 83.33333%;
	}
	.col-md-pull-11 {
		right: 91.66667%;
	}
	.col-md-pull-12 {
		right: 100%;
	}
	.col-md-push-0 {
		left: auto;
	}
	.col-md-push-1 {
		left: 8.33333%;
	}
	.col-md-push-2 {
		left: 16.66667%;
	}
	.col-md-push-3 {
		left: 25%;
	}
	.col-md-push-4 {
		left: 33.33333%;
	}
	.col-md-push-5 {
		left: 41.66667%;
	}
	.col-md-push-6 {
		left: 50%;
	}
	.col-md-push-7 {
		left: 58.33333%;
	}
	.col-md-push-8 {
		left: 66.66667%;
	}
	.col-md-push-9 {
		left: 75%;
	}
	.col-md-push-10 {
		left: 83.33333%;
	}
	.col-md-push-11 {
		left: 91.66667%;
	}
	.col-md-push-12 {
		left: 100%;
	}
	.col-md-offset-0 {
		margin-left: 0%;
	}
	.col-md-offset-1 {
		margin-left: 8.33333%;
	}
	.col-md-offset-2 {
		margin-left: 16.66667%;
	}
	.col-md-offset-3 {
		margin-left: 25%;
	}
	.col-md-offset-4 {
		margin-left: 33.33333%;
	}
	.col-md-offset-5 {
		margin-left: 41.66667%;
	}
	.col-md-offset-6 {
		margin-left: 50%;
	}
	.col-md-offset-7 {
		margin-left: 58.33333%;
	}
	.col-md-offset-8 {
		margin-left: 66.66667%;
	}
	.col-md-offset-9 {
		margin-left: 75%;
	}
	.col-md-offset-10 {
		margin-left: 83.33333%;
	}
	.col-md-offset-11 {
		margin-left: 91.66667%;
	}
	.col-md-offset-12 {
		margin-left: 100%;
	}
}

@media ( min-width : 1200px) {
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
		{
		float: left;
	}
	.col-lg-1 {
		width: 8.33333%;
	}
	.col-lg-2 {
		width: 16.66667%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33333%;
	}
	.col-lg-5 {
		width: 41.66667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33333%;
	}
	.col-lg-8 {
		width: 66.66667%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 83.33333%;
	}
	.col-lg-11 {
		width: 91.66667%;
	}
	.col-lg-12 {
		width: 100%;
	}
	.col-lg-pull-0 {
		right: auto;
	}
	.col-lg-pull-1 {
		right: 8.33333%;
	}
	.col-lg-pull-2 {
		right: 16.66667%;
	}
	.col-lg-pull-3 {
		right: 25%;
	}
	.col-lg-pull-4 {
		right: 33.33333%;
	}
	.col-lg-pull-5 {
		right: 41.66667%;
	}
	.col-lg-pull-6 {
		right: 50%;
	}
	.col-lg-pull-7 {
		right: 58.33333%;
	}
	.col-lg-pull-8 {
		right: 66.66667%;
	}
	.col-lg-pull-9 {
		right: 75%;
	}
	.col-lg-pull-10 {
		right: 83.33333%;
	}
	.col-lg-pull-11 {
		right: 91.66667%;
	}
	.col-lg-pull-12 {
		right: 100%;
	}
	.col-lg-push-0 {
		left: auto;
	}
	.col-lg-push-1 {
		left: 8.33333%;
	}
	.col-lg-push-2 {
		left: 16.66667%;
	}
	.col-lg-push-3 {
		left: 25%;
	}
	.col-lg-push-4 {
		left: 33.33333%;
	}
	.col-lg-push-5 {
		left: 41.66667%;
	}
	.col-lg-push-6 {
		left: 50%;
	}
	.col-lg-push-7 {
		left: 58.33333%;
	}
	.col-lg-push-8 {
		left: 66.66667%;
	}
	.col-lg-push-9 {
		left: 75%;
	}
	.col-lg-push-10 {
		left: 83.33333%;
	}
	.col-lg-push-11 {
		left: 91.66667%;
	}
	.col-lg-push-12 {
		left: 100%;
	}
	.col-lg-offset-0 {
		margin-left: 0%;
	}
	.col-lg-offset-1 {
		margin-left: 8.33333%;
	}
	.col-lg-offset-2 {
		margin-left: 16.66667%;
	}
	.col-lg-offset-3 {
		margin-left: 25%;
	}
	.col-lg-offset-4 {
		margin-left: 33.33333%;
	}
	.col-lg-offset-5 {
		margin-left: 41.66667%;
	}
	.col-lg-offset-6 {
		margin-left: 50%;
	}
	.col-lg-offset-7 {
		margin-left: 58.33333%;
	}
	.col-lg-offset-8 {
		margin-left: 66.66667%;
	}
	.col-lg-offset-9 {
		margin-left: 75%;
	}
	.col-lg-offset-10 {
		margin-left: 83.33333%;
	}
	.col-lg-offset-11 {
		margin-left: 91.66667%;
	}
	.col-lg-offset-12 {
		margin-left: 100%;
	}
}

/*************************** PANEL ************************************/
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-body {
	padding: 15px;
}

.panel-body:before,.panel-body:after {
	content: " ";
	display: table;
}

.panel-body:after {
	clear: both;
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel-heading>.dropdown .dropdown-toggle {
	color: inherit;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

.panel-title>a,.panel-title>small,.panel-title>.small,.panel-title>small>a,.panel-title>.small>a
	{
	color: inherit;
}

.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel>.list-group,.panel>.panel-collapse>.list-group {
	margin-bottom: 0;
}

.panel>.list-group .list-group-item,.panel>.panel-collapse>.list-group .list-group-item
	{
	border-width: 1px 0;
	border-radius: 0;
}

.panel>.list-group:first-child .list-group-item:first-child,.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child
	{
	border-top: 0;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel>.list-group:last-child .list-group-item:last-child,.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child
	{
	border-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child
	{
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 0;
}

.list-group+.panel-footer {
	border-top-width: 0;
}

.panel>.table,.panel>.table-responsive>.table,.panel>.panel-collapse>.table
	{
	margin-bottom: 0;
}

.panel>.table caption,.panel>.table-responsive>.table caption,.panel>.panel-collapse>.table caption
	{
	padding-left: 15px;
	padding-right: 15px;
}

.panel>.table:first-child,.panel>.table-responsive:first-child>.table:first-child
	{
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.panel>.table:first-child>thead:first-child>tr:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child
	{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child
	{
	border-top-left-radius: 3px;
}

.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child
	{
	border-top-right-radius: 3px;
}

.panel>.table:last-child,.panel>.table-responsive:last-child>.table:last-child
	{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel>.table:last-child>tbody:last-child>tr:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child
	{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child
	{
	border-bottom-left-radius: 3px;
}

.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child
	{
	border-bottom-right-radius: 3px;
}

.panel>.panel-body+.table,.panel>.panel-body+.table-responsive,.panel>.table+.panel-body,.panel>.table-responsive+.panel-body
	{
	border-top: 1px solid #ddd;
}

.panel>.table>tbody:first-child>tr:first-child th,.panel>.table>tbody:first-child>tr:first-child td
	{
	border-top: 0;
}

.panel>.table-bordered,.panel>.table-responsive>.table-bordered {
	border: 0;
}

.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child
	{
	border-left: 0;
}

.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child
	{
	border-right: 0;
}

.panel>.table-bordered>thead>tr:first-child>td,.panel>.table-bordered>thead>tr:first-child>th,.panel>.table-bordered>tbody>tr:first-child>td,.panel>.table-bordered>tbody>tr:first-child>th,.panel>.table-responsive>.table-bordered>thead>tr:first-child>td,.panel>.table-responsive>.table-bordered>thead>tr:first-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:first-child>th
	{
	border-bottom: 0;
}

.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th
	{
	border-bottom: 0;
}

.panel>.table-responsive {
	border: 0;
	margin-bottom: 0;
}

.panel-group {
	margin-bottom: 20px;
}

.panel-group .panel {
	margin-bottom: 0;
	border-radius: 4px;
}

.panel-group .panel+.panel {
	margin-top: 5px;
}

.panel-group .panel-heading {
	border-bottom: 0;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,.panel-group .panel-heading+.panel-collapse>.list-group
	{
	border-top: 1px solid #ddd;
}

.panel-group .panel-footer {
	border-top: 0;
}

.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #ddd;
}

.panel-default {
	border-color: #ddd;
}

.panel-default>.panel-heading {
	color: #333333;
	background-color: #f5f5f5;
	border-color: #ddd;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd;
}

.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333333;
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ddd;
}

.panel-primary {
	border-color: #337ab7;
}

.panel-primary>.panel-heading {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #337ab7;
}

.panel-primary>.panel-heading .badge {
	color: #337ab7;
	background-color: #fff;
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #337ab7;
}

.panel-success {
	border-color: #d6e9c6;
}

.panel-success>.panel-heading {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d6e9c6;
}

.panel-success>.panel-heading .badge {
	color: #dff0d8;
	background-color: #3c763d;
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d6e9c6;
}

.panel-info {
	border-color: #bce8f1;
}

.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #bce8f1;
}

.panel-info>.panel-heading .badge {
	color: #d9edf7;
	background-color: #31708f;
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #bce8f1;
}

.panel-warning {
	border-color: #faebcc;
}

.panel-warning>.panel-heading {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #faebcc;
}

.panel-warning>.panel-heading .badge {
	color: #fcf8e3;
	background-color: #8a6d3b;
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #faebcc;
}

.panel-danger {
	border-color: #ebccd1;
}

.panel-danger>.panel-heading {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ebccd1;
}

.panel-danger>.panel-heading .badge {
	color: #f2dede;
	background-color: #a94442;
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ebccd1;
}

/***************** FORM VALIDATION **********************************/
.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.checkbox label,.has-error.checkbox-inline label,.has-error.radio label,.has-error.radio-inline label
	{
	color: #de043a;
}

@font-face {
   font-family: 'BELL';
   src: url('BELL/font.TTF');
}

.image-fixed{
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	margin: 0;
	padding-bottom: 0;
	padding-top: 0;
	z-index: -1;
	height: 100%;
	width: auto;
}

.img-fluid{
	
	
	}